.custom-badge {
  width: 35px; /* Defina a largura desejada */
  height: 35px; /* Defina a altura desejada */
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  font-size: 1rem; /* Ajuste o tamanho da fonte, se necessário */
}
.sub-title {
  font-size: 0.8rem; /* Ajuste o tamanho da fonte conforme necessário */
  color: var(--ion-color-medium); /* Utilize a cor padrão do Ionic */
}
